@tailwind base;
@tailwind components;
@tailwind utilities;

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #8B5CF6 #;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #131217;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #8B5CF6;
    border-radius: 10px;
    border: 3px solid #131217;
  }


  input[type="time"]::-webkit-calendar-picker-indicator 
  { 
    margin-right: -5px;
    padding: 0;
    filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(130deg) brightness(95%) contrast(80%);
  }



.gd-carousel-wrapper {
    position:relative!important;
}

.gd-carousel {
    position:unset!important;
}

.react-multiple-carousel__arrow {
        position:absolute!important;
}
.react-multiple-carousel__arrow--left {
        left: calc(-3%)!important
}
.react-multiple-carousel__arrow--right {
        right: calc(-3%)!important
}


@media (max-width: 1340px) {
.react-multiple-carousel__arrow--left {
        left: calc(0%)!important
    }
.react-multiple-carousel__arrow--right {
        right: calc(0%)!important
    }
    }